{% extends './base.html' %} {% block content%}
<div id="loginOverlay" class="pb-5"></div>
<section class="ftco-section" id="form-bod">
    <div class="container">
        <div class="row">
            <div class="cont">
                <form method="post" action="{% url 'static_site:login' %}">
                    {% csrf_token %}
                    <div class="form sign-in justify-content-center">
                        <h2>Welcome back,</h2>
                        <div id="sign-in-head">
                            {% if form.errors %}
                            <p class="info">Your username and password didn't match. Please try again.</p>
                            {% endif %} {% if next %} {% if user.is_authenticated %}
                            <p class="info">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                            {% endif %} {% endif %}
                        </div>
                        <label>
                            <span>{{ form.username.label_tag }}</span>
                            {{ form.username }}
                            <!-- <input type="email" name="{{ form.username }}"> -->
                        </label>
                        <label>
                            <span>{{ form.password.label_tag }}</span>
                            {{ form.password }}
                        </label>
                        <p class="forgot-pass">Forgot password?</p>
                        <button type="submit" class="submit" value="login">Log In</button>
                        <button type="button" class="fb-btn">Log in with <span>facebook</span></button>
                        <!-- <p class="forgot-pass"><b>If this is your first time here, <span class="img__btn3">
                        Sign up</span> instead.</b></p> -->
                        <input type="hidden" name="next" value="{{ next }}">
                    </div>
                </form>
                <div class="sub-cont">
                    <div class="img">
                        <div class="img__text m--up">
                            <h2>Is this your first time ordering from us online?</h2>
                            <p>Click "Sign up" below and Enter your details to complete your order.</p>
                        </div>
                        <div class="img__text m--in">
                            <h2>Are you already one of us?</h2>
                            <p>If you already filled these before, just click "Sign in" below to log into your account. We've missed you!</p>
                        </div>
                        <div class="img__btn">
                            <span class="m--up">Sign Up</span>
                            <span class="m--in">Log In</span>
                        </div>
                    </div>
                    <form method="post" action="{% url 'static_site:register' %}" oninput='up2.setCustomValidity(up2.value != password.value ? "Passwords do not match." : "")'>
                        {% csrf_token %}
                        <div class="form sign-up">
                            <h2>Time to feel like home,</h2>
                            <label>
                                <span>{{ form.username.label_tag }}</span>
                                {{ form.username }}
                            </label>
                            <label>
                                <span>Phone Number</span>
                                <input type="tel" placeholder="0712 345 678">
                            </label>
                            <label>
                                <span>Email</span>
                                <input type="email" name="email" placeholder="example@gmail.com" required>
                            </label>
                            <label>
                                <span>{{ form.password.label_tag }}</span>
                                {{ form.password }}
                            </label>
                            <label>
                                <span>Confirm Password</span>
                                <input type="password" name="up2">
                            </label>
                            <button type="submit" class="submit">Submit</button>
                            <!-- <button type="button" class="fb-btn">Join with <span>facebook</span></button> -->
                            <input type="hidden" name="next" value="{{ next }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}