{% extends './base.html'%} {% block content%} {% load static %}{% load mathfilters %}

<div class="hero-wrap hero-bread" style="background-image: url('/static/static_site/images/bg_3a.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'static_site:home' %}">Home</a></span> <span
                        class="mr-2"><a href="{% url 'static_site:shop' %}">Shop</a></span></p>
                <h1 class="mb-0 bread">My Shopping Basket</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Product name/Total</th>
                                <th>Total(Ksh.)</th>
                                <th>Unit Price(Ksh.)</th>

                            </tr>
                        </thead>
                        <tbody id="basket-products">
                            {% for product, values in products.items %}
                            {% for key,amount in values.items %}
                            <tr class="text-center" id="{{product}}">
                                <td class="product-remove">
                                    <a href="#" class="dropdown-toggle" id="edit-or-delete" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <span class="ion-ios-menu"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="edit-or-delete">
                                        <a class="dropdown-item" href="{% url 'static_site:basket2' product_name=product.name|lower key=key act='edit'%}">Edit order</a>
                                        <a class="dropdown-item" href="{% url 'static_site:basket' product|lower key %}">Remove from
                                            basket</a>
                                    </div>
                                </td>

                                <td class="image-prod">
                                    <div class="img" style="background-image:url({{product.image.url}});"></div>
                                </td>

                                <td class="product-name">
                                    <h3>{{product}}s</h3>
                                    <p>{{key}} ({{amount}}{{product.unit}})</p>
                                </td>

                                <td class="total" id="{{product}}-total">{{ product.current_price|mul:amount}}</td>

                                <td class="price" id="{{product}}-price">{{product.current_price}}</td>
                            </tr><!-- END TR-->
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Cart Totals</h3>
                    <p class="d-flex">
                        <span>Subtotal</span>
                        <span>Ksh. 20.60</span>
                    </p>
                    <p class="d-flex">
                        <span>Deal of the day discount</span>
                        <span>Ksh. 3.00</span>
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span>Ksh. 17.60</span>
                    </p>
                </div>
                <p><a href="" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}