{% load static %}
<!-- variables: products, in_basket -->

<div class="row product-row" id="product-row">
    {% for product in products %}
    <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="product">
            <span class="img-prod"><img class="img-fluid" src="{{ product.image.url }}" alt="{{product}} image">
                <span class="status">30%</span>
                <div class="overlay"></div>
            </span>
            <div class="text py-3 pb-4 px-3 text-center">
                <h3><a>{{ product }}s</a></h3>
                <div class="d-flex">
                    <div class="pricing">
                        <p class="price">
                            {% if product.current_price < product.old_price %}
                            <span class="mr-2 price-dc">ksh. {{ product.current_price }}</span>
                            {% endif %}
                            <span class="price-sale">ksh. {{ product.current_price }}/{{ product.unit }}</span>
                        </p>
                    </div>
                </div>
                <div class="bottom-area d-flex px-3">
                    <div class="m-auto d-flex">
                        <a href="{% url 'static_site:single_product' product|lower %}" title="More info"
                            class="add-to-cart d-flex justify-content-center align-items-center text-center">
                            <span><i class="ion-ios-menu"></i></span>
                        </a>
                        <a href="{% url 'static_site:single_product' product|lower %}"
                            class="buy-now d-flex justify-content-center align-items-center mx-1"
                            {% if product|lower in in_basket %}style="background: #ed9121;"
                            title="This item is in your basket" {% else %} title="Add this to my basket" {% endif %}>
                            <span><i class="ion-ios-cart"></i></span>
                        </a>
                        <a class="heart d-flex justify-content-center align-items-center 
                        {% if not product.amount_available %}bg-secondary"
                            title="Unavailable" {% else %} " title="Available" {% endif %}>
                            <span><i class="ion-ios-basket"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>